[ req ]
default_bits        = 2048
default_md          = sha256
distinguished_name  = req_distinguished_name
req_extensions      = req_ext
x509_extensions     = v3_ca
prompt              = no

[ req_distinguished_name ]
countryName         = SI
stateOrProvinceName = Štajerska
localityName        = Maribor
organizationName    = AlpClub
commonName          = events-service

[ req_ext ]
subjectAltName = @alt_names

[ v3_ca ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1   = events-service
DNS.2   = events-service-alenskorjanc-dev.apps.sandbox-m2.ll9k.p1.openshiftapps.com
